/* style.css */

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:700,900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #faff00;
  position: relative;
}

p {
  margin: 0;
  padding: 0;
  margin: 0 0 36px;
}

canvas {
  cursor: grab;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

canvas:active {
  cursor: grabbing;
}


.is-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
}

.Circle {
  position: relative;
  width: 250px;
  height: 500px;
  margin-top: 0;
  float: right;
  shape-outside: url(left.svg);
}

.Text:last-child .Circle {
  float: left;
  shape-outside: url(right.svg);
}

.Texts {
  width: 900px;
  position: relative;
  margin: 120px auto 200px auto;
}

.Texts__content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.Text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-align: right;
  margin-right: 10px;
}
.Text:last-child {
  text-align: left;
  margin-left: 10px;
}
.Text strong {
  font-weight: 900;
}
