/* style.css */

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:700,900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #FCFD54;
  font-size: 1.1em;
  line-height: 135%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #000;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 800px;
  padding-bottom: 800px;
}

p {
  padding: 0;
  margin: 0 0 36px;
}

canvas {
  cursor: grab;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(.8);
  transition: transform 500ms ease-in-out;
  z-index: 100;
}

canvas:active {
  cursor: grabbing;
}

.is-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
}

.Title {
  width: 1000px;
  height: 90px;
  background-image: url(/img/title.svg);
  background-size: contain;
 background-position: center center;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 500ms ease-in-out, width 500ms ease-in-out;
}
.is-hidden {
  opacity: 0;
}
.Circle {
  position: relative;
  width: 350px;
  height: 350px;
  margin-top: 0;
  float: right;
  shape-outside: circle(50% at 100% 50%) padding-box;
  transition: width 500ms ease-in-out, height 500ms ease-in-out;
}

.Text:last-child .Circle {
  float: left;
  shape-outside: circle(50% at 0 50%) padding-box;
}

.Texts {
  width: 900px;
  position: relative;
  margin: 0 auto 0 auto;
  transition: width 500ms ease-in-out;
}

.Texts__content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.Text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-align: right;
  margin-right: 10px;
}
.Text:last-child {
  text-align: left;
  margin-left: 10px;
}
.Text strong {
  font-weight: 900;
}


@media only screen and (max-width: 1000px) {
  canvas {
    transform: translate(-50%, -50%) scale(.7);
  }
  .Texts,
  .Title {
    width: 90%;
  }
}

@media only screen and (max-width: 710px) {
  canvas {
    transform: translate(-50%, -50%) scale(.5);
    margin-top: -50px;
  }
  .Texts {
    width: 90%;
  }
  .Title {
    width: 90%;
    margin-top: -50px;
  }
  .Circle {
    width: 250px;
    height: 250px;
  }
}
