/* style.css */

@font-face {
  font-family: "Oi";
  src: url("./fonts/oi.eot");
  src: url("./fonts/oi.eot?#iefix") format("embedded-opentype"),
    url("./fonts/oi.woff2") format("woff2"), url("fonts/oi.woff") format("woff"),
    url("./fonts/oi.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #f8d946;
  cursor: none;
}

canvas {
  height: 400px;
  left: 50%;
  position: absolute;
  top: 200px;
  transform: translate(-50%, -50%);
  width: 400px;
}

main {
  width: 800px;
  margin: 180px auto;
}

h1 {
  font-family: "Oi", sans-serif;
  font-size: 4rem;
  clear: both;
  overflow: hidden;
}

h1 .left {
  float: left;
}

h1 .right {
  float: right;
}

p {
  font-family: "IBM Plex Sans";
}

#cursor {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: none;
  border-radius: 99px;
  border: 12px solid #000;
}
