/* style.css */

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:500,700&display=swap");

@font-face {
  font-family: "Oi";
  src: url("./fonts/oi.eot");
  src: url("./fonts/oi.eot?#iefix") format("embedded-opentype"),
    url("./fonts/oi.woff2") format("woff2"), url("fonts/oi.woff") format("woff"),
    url("./fonts/oi.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  padding: 700px 0 0 0;
  margin: auto;
  font-size: 1.1em;
  line-height: 135%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #f8d946;
  color: #000;
}

a {
  color: #000;
}

h1 {
  font-family: "Oi", sans-serif;
  font-size: 4rem;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0 0 36px 0;
  cursor: default;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: transform 500ms ease-in-out;
  transform: translate(-50%, -50%) scale(0.8);
  pointer-events: none;
}

.is-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
}

.is-hidden {
  opacity: 0;
}
.Circle {
  position: relative;
  width: 350px;
  height: 350px;
  margin-top: 0;
  float: right;
  shape-outside: circle(50% at 100% 50%) padding-box;
  transition: width 500ms ease-in-out, height 500ms ease-in-out;
  pointer-events: none;
}

.Text:last-child .Circle {
  float: left;
  shape-outside: circle(50% at 0px 50%) padding-box;
}

.Texts {
  width: 400px;
  position: relative;
  padding-bottom: 300px;
  margin: 0 auto;
  transition: width 500ms ease-in-out;
}

.Texts__content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.Text {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  text-align: right;
  margin-right: 0px;
  line-height: 130%;
  padding-bottom: 40px;
}
.Text:last-child {
  text-align: left;
  margin-left: 60px;
}
.Text strong {
  font-weight: 900;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0;
  }
  canvas {
    transform: translate(-50%, -80%) scale(0.6);
  }
  .Texts__content {
    display: block;
  }
  .Circle {
    display: none;
  }
  .Texts {
    width: 100%;
    padding: 0 40px;
  }
  .Text {
    width: 100%;
    text-align: left;
    margin: 0 auto 32px auto;
  }
  .Text:last-child {
    margin: auto;
  }
}
