/* style.css */

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:700,900&display=swap');
@font-face {
  font-family: "Oi";
  src: url("./fonts/oi.eot");
  src: url("./fonts/oi.eot?#iefix") format("embedded-opentype"),
  url("./fonts/oi.woff2") format("woff2"), url("fonts/oi.woff") format("woff"),
  url("./fonts/oi.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  padding: 700px 0 0 0;
  margin: auto;
  font-size: 1.1em;
  line-height: 135%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #f8d946;
  color: #000;
  cursor: none;
}

p {
  padding: 0;
  margin: 0 0 36px 0;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: transform 500ms ease-in-out;
  transform: translate(-50%, -50%) scale(0.8);
  border: 1px solid blue;
}

#cursor {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 99px;
  border: 18px solid #000;
  z-index: 100;
}

.is-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
}

.Title {
  width: 1000px;
  height: 90px;
  background-image: url(/img/title.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 500ms ease-in-out, width 500ms ease-in-out;
}
.is-hidden {
  opacity: 0;
}
.Circle {
  position: relative;
  width: 350px;
  height: 350px;
  margin-top: 0;
  float: right;
  shape-outside: circle(50% at 100% 50%) padding-box;
  transition: width 500ms ease-in-out, height 500ms ease-in-out;
  border: 1px solid red;
}

.Text:last-child .Circle {
  float: left;
  shape-outside: circle(50% at 0 50%) padding-box;
}

.Texts {
  width: 900px;
  position: relative;
  margin: 0 auto;
  transition: width 500ms ease-in-out;
  padding-bottom: 300px;
}

.Texts__content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.Text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-align: right;
  margin-right: 10px;
  line-height: 135%;
}
.Text:last-child {
  text-align: left;
  margin-left: 10px;
}
.Text strong {
  font-weight: 900;
}

@media only screen and (max-width: 1000px) {
  canvas {
    transform: translate(-50%, -50%) scale(.7);
  }
  .Texts,
  .Title {
    width: 90%;
  }
}

@media only screen and (max-width: 710px) {
  canvas {
    transform: translate(-50%, -50%) scale(.5);
  }
  .Texts {
    width: 90%;
  }
  .Title {
    width: 90%;
  }
  .Circle {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (max-width: 640px) {
  canvas {
    transform: translate(-50%, -50%) scale(.3);
  }
  .Texts__content {
    display: block;
  }
  .Circle {
    display: none;
  }
  .Texts {
    width: 100%;
    padding: 0 40px;
  }
  .Text {
    width: 100%;
    text-align: left;
    margin: 0 auto 32px auto;
  }
  .Text:last-child {
    margin: auto;
  }
  .Title {
    width: 85%;
  }
}


